APP_ID=cli_xxx
APP_SECRET=xxx
OWNER_OPEN_ID=ou_xxx
LOG_LEVEL=INFO
REACTION_ENABLED=true
REACTION_EMOJI_TYPE=Typing
ASK_TIMEOUT_SECONDS=600
ASK_REMINDER_MAX_ATTEMPTS=10
ASK_TIMEOUT_REMINDER_TEXT=请及时回复！！！
ASK_TIMEOUT_DEFAULT_ANSWER=[AUTO_RECALL]
